
.header-component{
  display: flex;
  float: right;
  height: 3rem;
  width: 100%;
  margin: -23px 2px 0px 2px;
  
}
.link-component{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: arial,sans-serif;
    /* border: 1px solid rgb(233, 13, 13); */
    height: 3rem;
    width: 7rem;
    padding: 0px;
    margin: 1px 18px 1px 0px;
    align-items: flex-end;
    margin-left: auto;
}

.header-link{
  display: flex;
  align-items: flex-end;
  font-size: 13px;
  margin: 12px -2.7px 5px -1px; 
  padding: 0.5rem;
  display: inline-block;
}
.subheader-link{
  display: flex;
  font-size: 13px;
  margin: 12px -4px 5px 0px;
  padding: 0.5rem;
  display: inline-block;
}
.menu-icon{
  margin-left: 5px;
  font-size: 10px;
}

#gb#gb a.gb_A {
  color: gray;
  text-decoration: none;
}
.gb_z .gb_A, .gb_z .gb_A:hover, .gb_z .gb_A:focus {
  opacity: 1;
  
}
.gb_z .gb_A, .gb_B .gb_z .gb_A {
  background-position: -64px -29px;
  
}
.gb_oa a, .gb_Fc a {
  color: grey;
}
.gb_A {
  cursor: pointer;
  font-size: 2.4rem;
  margin: 8px 27px 1px -8px;
  padding: 0px 2.8px 3px 2px; 
}

.sign {
    display: flex;
    background-color: #1a73e8;
    color: white;
    border-radius: 4px;
    padding: 6px 25.5px;
    margin: 11.2px 17.3px 14px 15px;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 24px;
}
.logo {
  width: 1rem;
  text-align: center;
  margin-left: 66px;
  padding: 0px 0px 0px 365px;
  margin-top: 24px;

}



/* .Search{
  align-items: center;
  width: 100px;
}
.searchInput{
 align-items: center;
 margin: -21rem 0rem 0rem 35rem;
 display: flex;
 width: 500px;
 height: 34px;

} */



.Box-1{
  display: flex;
  flex-direction: ROW;
  flex: 0.5;
  justify-content: center;
  padding:9px 0px 0px 0px; 
  
}
input{
  margin: 15px;
  padding: 3px;
}
.Language-1 {
  color: #3c4043;
  display: inline-block;
  line-height: 28px;
  width: 657px;
  text-align: center;
  margin: 3px 0px 130px 320px;
  font-family: arial,sans-serif;
  font-size: 14px;
  padding: 20px 3px;
  }

  a {
    color: #1a0dab;
    text-decoration: none;
    width:auto;
    font-size: 13px;
    font-family: arial,sans-serif;
    margin: 6px;

}
.google {
  padding-left: 1px;
}

.F-container {
  display: flex;
  flex-direction: column;
  height: 5.5rem;
  background-color: #f2f2f2;
}

.Block-A {
  text-align: left;
  border: 0.01px solid rgb(207, 204, 204);
  height: 3rem;
}
.A {
  margin: 10.5px 0px 2px 29.3px;
  color: grey;
  font-family: Arial, sans-serif;
  font-size: 15px;
  
}
.Block-B {
  display: flex;
  text-align: center;
  height: 3rem;
  flex-direction: row;
  color: grey;
}

.bk-1{
  flex: 0.1;
  text-align: left;
  margin: 4px 5px 0px 15px;
}

.bk-2{
  flex: 0.1;
  text-align: left;
  margin:  4px 5px 0px 15px;

}

.bk-3{
  flex: 1 1;
  text-align: left;
  margin: 4px 5px 0px 15px;
}

.bk-4{
  flex: 9;
  text-align: left;
  margin: 4px 0px 2px 0px;
}
.bk-5{
  flex: 1;
  text-align: center;
  margin: 4px 0px 2px 0px;
}
.bk-6{
  flex: 1;
  text-align: center;
  margin: 4px 0px 2px 0px;
}
.bk-7{
  flex: 1 1;
  text-align: center;
  margin: 4px 0px 2px 0px;
}


.searchBar-container{
  flex-direction: column;
  border: 0.1px solid black;
  background-color: whitesmoke;

  border-radius: 25px;
  justify-content: center;
  width: 34rem;
  height: 2.5rem;
  margin: 6px 0px 5px 345px;
  padding: 0px 40px 2px 0px;
}

.inline-box{
  flex-direction: column;
    justify-content: center;
    width: 31rem;
    height: 3rem;
    margin: 0px 5px 0px 41px;
}